<h2>Add Sections to {{ template.name }}</h2>
{% comment %}
<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">vAdd Section</button>
</form>

<h2>Adding the js to this page</h2>
<form method="post">
  {% csrf_token %} {{ form.as_p }} {{ section_formset.management_form }}
  <div id="sections">
    {% for form in section_formset %}
    <div class="section">
      {{ form.as_p }}
      <!-- Include a button or link here to remove the section -->
    </div>
    {% endfor %}
  </div>
  <button type="button" id="add-section">gAdd Section</button>
  <input type="submit" value="Submit" />
</form>
{% endcomment %}

<!-- create_lab_template.html -->
<form method="post">
  {% csrf_token %} {{ formset.management_form }} {% for form in formset %}
  <div class="section">{{ form.as_p }}</div>
  {% endfor %}
  <input type="submit" value="Submit" />
</form>

{% comment %}
<script>
  $(document).ready(function () {
    $("#add-section").click(function () {
      var totalForms = $("#id_sections-TOTAL_FORMS").val();
      var newForm = $("#sections").children(".section:last").clone(true);

      newForm.find(":input").each(function () {
        var name = $(this)
          .attr("name")
          .replace("-" + (totalForms - 1) + "-", "-" + totalForms + "-");
        var id = "id_" + name;
        $(this).attr({ name: name, id: id }).val("").removeAttr("checked");
      });

      $("#sections").append(newForm);
      $("#id_sections-TOTAL_FORMS").val(parseInt(totalForms) + 1);
    });
  });
</script>
{% endcomment %} {% comment %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $("#add-section").click(function () {
      var formIdx = $("#id_sections-TOTAL_FORMS").val();
      $("#sections").append(
        $("#sections")
          .children(".section:last")
          .clone(true)
          .find(":input")
          .each(function () {
            var name = $(this)
              .attr("name")
              .replace("-" + (formIdx - 1) + "-", "-" + formIdx + "-");
            var id = "id_" + name;
            $(this).attr({ name: name, id: id }).val("").removeAttr("checked");
          })
          .end()
      );
      $("#id_sections-TOTAL_FORMS").val(parseInt(formIdx) + 1);
    });
  });
</script>

<!-- Adjustments within create_lab_template.html for dynamic sections -->
<script>
  $(document).ready(function () {
    $("#add-section").click(function () {
      var totalForms = $("#id_sections-TOTAL_FORMS").val();
      var newForm = $("#sections").children(".section:last").clone(true);

      // Update the new form's index
      newForm.find(":input").each(function () {
        var name = $(this)
          .attr("name")
          .replace("-" + (totalForms - 1) + "-", "-" + totalForms + "-");
        var id = "id_" + name;
        $(this).attr({ name: name, id: id }).val("").removeAttr("checked");
      });

      // Insert new form
      $("#sections").append(newForm);

      // Increment the TOTAL_FORMS count
      $("#id_sections-TOTAL_FORMS").val(parseInt(totalForms) + 1);
    });
  });
</script>
{% endcomment %}
