{% extends 'base.html' %} {% load custom_filters %} {{ mydict|get_item:"mykey"
}} {% block content %}
<div class="container">
  <h1>{{ lab_report.title }}</h1>
  <p><strong>Description:</strong> {{ lab_report.description }}</p>
  <form action="" method="post">
    {% csrf_token %} {% for section in sections %}
    <div>
      <h3>{{ section.title }}</h3>
      <textarea name="response_{{ section.id }}" rows="4" cols="50">
{{ responses|get_item:section.id|default:"" }}</textarea
      >
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-success">Submit Responses</button>
  </form>

  <a href="{% url 'student_dashboard' %}">Back to Dashboard</a>
</div>
{% endblock %}
