<!-- templates/course/view_grades.html -->

{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
  <h1>View Grades</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Submitted By</th>
        <th>Submitted At</th>
        <th>Laboratory</th>
        <th>Grade</th>
        <th>Feedback</th>
      </tr>
    </thead>
    <tbody>
      {% for report in reports %}
      <tr>
        <td>{{ report.title }}</td>
        <td>
          {% if report.student %} {{ report.student.username }} {% else %}
          Student Unknown {% endif %}
        </td>
        <td>{{ report.submitted_at }}</td>
        <td>{{ report.laboratory.name }}</td>
        <td>{{ report.grade.score }}</td>
        <td>{{ report.grade.feedback }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
