{% extends 'base.html' %} {% block content %}
<h2>Welcome, {{ request.user.username }}!</h2>
<p>This is the Lab Technician Dashboard. Here, you can:</p>
<ul>
  <li>Manage lab inventory</li>
  <li>Prepare lab setups</li>
</ul>

<!-- New Section for Adding Lab Reports -->
<h3>Add a Lab Report</h3>
<a href="{% url 'upload_lab_report' course_id=course_id %}">Add a Lab Report</a>

  {% csrf_token %}
  <label for="course">Select Course:</label>
  <select name="course" id="course">
    {% for course in courses %}
    <option value="{{ course.id }}">{{ course.name }}</option>
    {% endfor %}
  </select>
  
  <input type="submit" value="Go to Add Report" />
</form>
<a href="{% url 'add_laboratory' %}">Add a New Laboratory</a>

<h2>My Lab Reports</h2>
<ul>
  {% for report in my_lab_reports %}
    <li>{{ report.title }} - {{ report.description }}</li>
  {% empty %}
    <p>No lab reports found.</p>
  {% endfor %}
</ul>

<h2>My Laboratories</h2>
<ul>
  {% for laboratory in my_laboratories %}
    <li>{{ laboratory.name }} - {{ laboratory.location }}</li>
  {% empty %}
    <p>No laboratories found.</p>
  {% endfor %}
</ul>

{% endblock %}
