{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group mb-4">
        <li class="list-group-item"><a href="#">Grade Reports</a></li>
        <li class="list-group-item"><a href="#">Assign Grades</a></li>
        <li class="list-group-item">
          <a href="{% url 'add_course' %}">Add New Course</a>
        </li>
        <li class="list-group-item">
          <a href="{% url 'view_courses' %}">Manage Courses</a>
        </li>
        <li class="list-group-item">
          <a href="{% url 'view_all_creations' %}">View Activities</a>
        </li>
        <li class="list-group-item">
          <a href="{% url 'view_student_activities' %}"
            >View Student Activities</a
          >
        </li>
        <li class="list-group-item">
          <a href="{% url 'view_all_students' %}">View All Students</a>
        </li>
        <li class="list-group-item">
          <a href="{% url 'view_student_responses' %}"
            >View Student Responses</a
          >
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <h2 class="mb-4">Welcome, {{ request.user.username }}!</h2>
      <p>This is the Lecturer Dashboard. Here, you can:</p>
      <ul class="list-group mb-4">
        <li class="list-group-item">Grade Reports</li>
        <li class="list-group-item">Assign grades</li>
        <!-- Add more lecturer-specific functionality as needed -->
      </ul>

      <div class="container mb-4">
        <h3 class="mb-3">Your Courses:</h3>
        {% if courses %}
        <ul class="list-group">
          {% for course in courses %}
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            {{ course.name }} ({{ course.code }})
            <!-- Delete Button -->
            <form
              action="{% url 'delete_course' course.id %}"
              method="post"
              class="mb-0"
            >
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">
                Delete
              </button>
            </form>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p>You haven't created any courses yet.</p>
        {% endif %}
      </div>

      <div class="btn-group mb-4" role="group">
        <a href="{% url 'view_all_creations' %}" class="btn btn-primary"
          >View Activities</a
        >
        <a href="{% url 'view_student_activities' %}" class="btn btn-primary"
          >View Student Activities</a
        >
        <!-- Update the href when the URL pattern is fixed -->
        <a href="#" class="btn btn-primary">View Student Grades</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
