{% extends 'base.html' %}
<!-- Extend your base template if you have one -->

{% block content %}

<!-- Displaying the sections -->

<h2>Template: {{ template.name }}</h2>

{% if sections %}
<ul>
  {% for section in sections %}
  <li>
    <h3>{{ section.section_type.name }}</h3>
    <p>Visible to Students: {{ section.visible_to_students }}</p>
    <p>Content: {{ section.content }}</p>
    <p>Marks: {{ section.marks }}</p>
    <!-- Displaying the assigned marks -->
    <!-- Display section details here -->
    <form
      action="{% url 'delete_section' lab_template_id=template.id section_id=section.id %}"
      method="post"
    >
      {% csrf_token %}
      <input type="submit" value="Delete" />
    </form>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No sections have been added to this template yet.</p>
{% endif %} {% endblock %}
