<!-- templates/lecturer/courses_details.html -->
{% extends "base.html" %} {% block content %}
<div class="container mt-4">
  <h1>Course: {{ course.name }}</h1>
  <h2>Code: {{ course.code }}</h2>

  <h3>Lab Reports</h3>
  {% for report in lab_reports %}
  <div class="report-section mb-4">
    <h2>{{ report.title }}</h2>
    <p><strong>Laboratory:</strong> {{ report.laboratory.name }}</p>
    <p><strong>Template:</strong> {{ report.template.name }}</p>

    {% for section in report.template.sections.all %}
    <h5>Section</h5>
    <div class="section mb-3">
      <h4>{{ section.title }}</h4>
      <p>{{ section.content }}</p>
      <p><strong>Marks:</strong> {{ section.marks }}</p>
      <p><strong>Section Type:</strong> {{ section.section_type.name }}</p>

      <h5>Responses</h5>
      <ul>
        <li>
          <a href="{% url 'view_section_responses' report.id section.id %}">
            View Responses for Section: {{ section.title }}
          </a>
        </li>
      </ul>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}
