<!-- templates/grading/detailed_responses.html -->

{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
  <h1>Responses for {{ student.username }} - {{ lab_report.title }}</h1>
  <form method="post">
    {% csrf_token %} {% for response in responses %}
    <h2>{{ response.section.title }}</h2>
    <p>{{ response.response_text|default_if_none:"No response" }}</p>
    <label for="id_marks_{{ response.id }}"
      >Marks ({{ response.section.marks }} max):</label
    >
    <input
      type="number"
      name="marks_{{ response.id }}"
      id="id_marks_{{ response.id }}"
      value="{{ response.marks_awarded }}"
      min="0"
      max="{{ response.section.marks }}"
    />
    <!-- Add feedback textarea -->
    <label for="id_feedback_{{ response.id }}">Feedback:</label>
    <textarea
      name="feedback_{{ response.id }}"
      id="id_feedback_{{ response.id }}"
      cols="60"
      rows="4"
    >
{{ response.feedback }}</textarea
    >
    {% empty %}
    <p>No responses to display.</p>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit Grades</button>
  </form>
  <a
    href="{% url 'lab_report_detail_for_tech' lab_report.id %}"
    class="btn btn-secondary"
    >Back to Lab Report</a
  >
</div>
{% endblock %}
